<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <% sizes.each do |size| %>
        <li>
          <%= link_to potepan_category_path(taxon.id, size: size.name) do %>
            <%= size.presentation %>
            <span>(<%= taxon.all_products.filter_by_size(size.name).count %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
