<% provide(:title, @taxon.name) %>
<%= render 'shared/page_title', content_name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render "sidebar", taxonomys: @taxonomys, colors: @colors, sizes: @sizes, taxon: @taxon %>
      <%= render "main_area", products: @products, taxon: @taxon %>
    </div>
  </div>
</section>
<%= render 'shared/partners' %>
