<% provide(:title, "#{@product.name}") %>
<div class="main-wrapper">
  <%= render 'potepan/layouts/header' %>
  <%= render 'potepan/layouts/navbar' %>
  <%= render 'content' %>
  <%= render 'potepan/layouts/footer' %>  
</div>
<% render 'potepan/layouts/login_modal'%>
<% render 'potepan/layouts/signup_modal'%>
