<% provide(:title, @product.name) %>
<%= render 'shared/page_title', content_name: @product.name  %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'media-left', product: @product %>
          <%= render 'media-body', product: @product %>
        </div>
      </div>
    </div>
    <%= render 'related_products', related_products: @related_products %>
  </div>
</section>
