<% provide(:title, @product.name) %>
<%= render 'shared/page_title', content_name: @product.name  %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'media-left', product: @product %>
          <%= render 'media-body', product: @product %>
        </div>
      </div>
    </div>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: "related_product", collection: @related_products %>
    </div>
  </div>
</section>
